*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif
}
header{
    text-align: center;
    background: #e9cd3f;
    padding: 20px;
}
h2{
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 50px;
}
.color-box:active{
    
    position: relative;
	top: 5px;
}
#box-1{
    margin-top: 10px;
    background: #e9cd3f;
    width: 200px;
    height: 200px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
#box-2{
    margin-top: 10px;
    background: #e9cd3f;
    width: 200px;
    height: 200px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
#box-3{
    margin-top: 10px;
    background: #e9cd3f;
    width: 200px;
    height: 200px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
#box-4{
    margin-top: 10px;
    background: #e9cd3f;
    width: 200px;
    height: 200px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.color-box:focus-visible{
    background-color: red;
}
p{
    margin-top: 20px;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    margin: 40px;
}
