*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #f2f2f2;
    font-family: 'Times New Roman', Times, serif;
}
header{
    text-align: center;
    background: #e9cd3f;
    padding: 20px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    margin-top: 20px;
}
.card{
    display: inline-block;
    padding: 20px;
}
.card img{
    width: 300px;
    height: 300px;

}
.card input{
    display: block;
    margin-left: 50px;
    margin-top: 20px;
}
#result{
    padding: 5px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
}
button{
    width: 200px;
    padding: 7px;
    border-radius: 5px;
    border: none;
    background:  #fcd42b;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 250px;
    margin-top: 30px;
}
button:hover{
    background: #e9cd3f;
}